:root {
  /* Dark theme colors */
  --dark-bg: #000000e3;
  --dark-text: #dfdfdf;
  --dark-secondary: #cccccc;
  --toggle-track-dark: rgba(255, 255, 255, 0.25);
  --overlay-hover-dark: rgba(179, 255, 0, 0.1);

  /* Light theme colors */
  --light-bg: #0000002c;
  --light-text: #000000d5;
  --light-secondary: #333333;
  --toggle-track-light: rgba(0, 0, 0, 0.2);
  --overlay-hover-light: rgba(
    200,
    255,
    0,
    0.075
  ); /* Dark hover for light mode */
}

.app-container {
  transition: color 0.5s ease, background-color 1s ease-in-out;
}

.app-container.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
  --overlay-hover: var(--overlay-hover-dark);
}

.app-container.light {
  background-color: var(--light-bg);
  color: var(--light-text);
  --overlay-hover: var(--overlay-hover-light);
}
.theme-toggle-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Place it behind the content but above the WaveEffect */
  background: transparent; /* Ensure it's invisible */
  cursor: pointer; /* Show pointer to indicate it's clickable */
  transition: all 0.3s linear;
}
.theme-toggle-overlay:hover {
  background: var(--overlay-hover); /* Dynamic hover color based on theme */
}
